<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block head %}
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% block baseJs %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>

