@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', serif !important;
}
/** ============== Parallax =====================*/

/* PARALLAX1 */

.keyart, .keyart_layer {
    padding-top: 100%
}

#parallax1 {
    position: relative;
    z-index: 10;
    height: 100vh;
}

#parallax2 {
    height: 115vh;
}
#nonparallax {
    display: block;
    display: none
}

#nonparallax {
    background-image: url('../images/parallax1/Plan5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.keyart {
    position: relative;
    z-index: 10;
}

.keyart_layer {
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    position: absolute;
}
.keyart_layer.parallax {
    position: fixed;
}

/* Parallax 2*/
#keyart2-6 {
    background-image: url('../images/parallax2/Plan1.png');
    position: relative;
    bottom: 50px;
}
#keyart2-5 {
    background-image: url('../images/parallax2/Plan2.png');
}
#keyart2-4 {
    background-image: url('../images/parallax2/Plan3.png');
}
#keyart2-3 {
    background-image: url('../images/parallax2/Plan4.png');
    transform: translate3d(-1363.4px, -60px, 0px);
    position: fixed;
    background-repeat: no-repeat;
    top: 0px;
    width: 100%;
    height: inherit;
    background-size: cover;
}
#keyart2-2 {
    background-image: url('../images/parallax2/Plan5.png');
}
#keyart2-1 {
    background-image: url('../images/parallax2/Plan6.png');
}
#keyart2-0 {
    background-image: url('../images/parallax2/Plan7.png');
    background-color: #9ed8b0;
}

/* Parallax 1*/
#keyart-6 {
    background-image: url('../images/parallax1/Plan1.png');
}
#keyart-5 {
    background-image: url('../images/parallax1/Plan2.png');
}
#keyart-4 {
    background-image: url('../images/parallax1/Plan3.png');
}
#keyart-3 {
    background-image: url('../images/parallax1/Plan4.png');
}
#keyart-2 {
    background-image: url('../images/parallax1/Plan5.png');
}
#keyart-1 {
    background-image: url('../images/parallax1/Plan6.png');
}
#keyart-0 {
    background-image: url('../images/parallax1/Plan7.png');
    background-color: #210002;
}

#keyart-scrim {
    background-color: #ffaf00;
    opacity: 0;
}

.text-ouverture {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 37%;
    font-size: 2em;
    font-weight: bold;
}


/* MAIN STRUCTURE */

.toprule {
    background-color: #a34300;
    height: 37px;
    position: absolute;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .toprule {
        display: none;
    }

    .pax #maincontain {
        top: 0px !important;
    }
}

#maincontain {
    background-color: #210002;
    position: relative;
    z-index: 98;
}

.pax #maincontain {
    top: 140px;
}


#main {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
    background-color: #eddeab;
}

/* nav bar */

.navbar-collapse {
    text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.navbar-inverse .navbar-nav>li>a{
    color: #eddeab;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li{
    padding: 10px 25px;;
    margin-top: 15px;
}

li.contact {
    padding-bottom: 0px !important;
}

.num-contact {
    font-weight: normal;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9d9d9d;
}

.navbar-nav>li>a {
    padding: 0px;
}

/* section header*/

.header-block {
    background-color: #87200c;
    font-size: 166%;
    color: #eddeab;
    padding: 45px;
    top: -4em;
    position: relative;
}

.parcours p {
    font-size: 1.5em;
}

.parcours-block {
    padding: 40px ;
}

.block-laser {
    margin-top: 50px;
}

.btn-galery {
    padding: 30px 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #87200c;
    font-size: 2em;
    color: #eddeab;
    font-weight: bold;
    text-transform: uppercase;
}

.iframe-youtube iframe {
    width: 100%;
    height: 20em;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}

.tarif-container {
    position: relative;
    background-color: #87200c;
}

/* Block tarif */

.label-img1 {
    background-image: url(../../front/images/feuille01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 47px;
    width: 102px;
    padding-top: 11px;
    font-size: 20px;
    font-family: 'Raleway', serif !important;
    top: 14px;
    position: relative;
}

.label-img5 {
    background-image: url(../../front/images/feuille05.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 47px;
    width: 102px;
    padding-top: 10px;
    font-size: 19px;
    font-family: 'Raleway', serif !important;
    position: relative;
    bottom: 15px;
    right: 8px;
}

.label-img-viseur {
    background-image: url(../../front/images/viseur.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 47px;
    width: 102px;
    padding-top: 10px;
    font-size: 19px;
    font-family: 'Raleway', serif !important;
}

.text-header {
    font-size: 2em;
}

.text-yellow {
    color: #eddeab;
}

p.text-forfait {
    font-size: 15px;
    position: relative;
    left: 106px;
    bottom: 20px;
    width: 80%;
    padding-right: 20px;
    padding-top: 20px;
    color: #eddeab;
}

img.small-img {
    width: 80px;
    margin-right: 10px;
}

h3.cb-message {
    border: solid;
    border-radius: 8px;
}

.mode-paiment {
    margin-bottom: 120px;
    margin-top: 50px;
}

.mode-paiment p {
    color: #eddeab;
    font-size: 1.5em;
}

/** Plan du parc **/
.section-plan {
    background-color: #EDDEAB;
    padding-bottom: 75px;
}

.section-plan img {
    margin-bottom: 75px;
}

.section-plan p {
    font-size: 1.5em;
}

.title-plan {
    background-color: #160402;
    color: #eddeab;
    padding: 35px 35px;
    position: relative;
    bottom: 5em;
}

/** section contact **/

.section-contact {
    background-image: url(../../front/images/illu3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    min-height: 1620px;
    position: relative;
    background-color: #9ED8B0;
}

.section-contact p {
    font-size: 1.2em;
}

.section-contact h4 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.section-contact h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
}

.info-ouverture {
    top: -55px;
}

#nuage-top {
    background-image: url(../../front/images/nuages-contacts.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 100%;
    min-height: 1620px;
    bottom: 1px;
    position: relative;
}

.title-contact {
    margin-top: 150px;
}

.contact-content {
    margin-top: 50px;
}

.block-partenaire {
    position: absolute;
    bottom: 0px;
    margin-bottom: 6%;
}

.img-partenaire {
    margin: 15px;
    max-width: 13%;
    display: inline-block;
}


/** media query **/

@media screen and (min-aspect-ratio: 16/9) {
    #parallax2 {
        height: 145vh;
    }
}

@media screen and (min-aspect-ratio: 17/14) {
    .section-contact {
        min-height: 1847px;
    }
}

@media screen and (max-aspect-ratio: 9/6) {
    #parallax2 {
        height: 100vh;
    }
}

@media screen and (max-aspect-ratio: 9/8) {
    #parallax2 {
        height: 70vh;
    }
    #parallax1 {
        height: 68vh;
    }
}

@media screen and (max-aspect-ratio: 9/11) {
    #parallax2 {
        height: 54vh;
    }
    #parallax1 {
        height: 60vh;
    }

    .section-contact {
        min-height: 1500px;
    }

    #nuage-top {
        min-height: 1655px;
    }
}

@media screen and (max-aspect-ratio: 9/11) {
    #nuage-top {
        min-height: 1875px;
    }
}


@media screen and (max-aspect-ratio: 9/15) {
    #parallax2 {
        height: 38vh;
    }

    #parallax1 {
        height: 45vh;
    }

    .section-contact {
        min-height: 1500px;
    }

    #nuage-top {
        min-height: 2065px
    }
}