div.content {
    padding-top: 80px;
}

.block-menu {
    background-color: #ecf0f1;
    min-height: 230px;
}

.block-flag {
    margin-top: 20px;
}

.block-menu-top {
    margin-top: 50px;
    margin-bottom: 60px;
}

div.slide-croppic {
    width: 843px;
    height: 403px;
}

div.nos-parcours-croppic {
    width: 550px;
    height: 367px;
}

div.cro-plan {
    width: 1000px;
    height: 593px;
}

div.confort-accueil-croppic {
    width: 300px;
    height: 225px;
}

div.croppic {
    background: url('../img/placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: 1px solid #ccc;
}

div.cropImgWrapper {
    top: 0px;
}