div.content {
    padding-top: 60px;
}

.block-menu {
    background-color: #ecf0f1;
    min-height: 244px;
    margin-top: 50px;
    border-radius: 10px;
}

.block-flag {
    margin-top: 20px;
}

.img-btn:hover{
    filter: hue-rotate(1000deg) hue-rotate(120deg) saturate(25.4);
}

.block-menu-top {
    margin-bottom: 45px;
}

form[name=website_partenaires] div.form-group label.control-label {
    display: none;
}

form[name=website_partenaires] div.form-group div.col-sm-10 label.control-label {
    display: block;
}

form[name=website_partenaires] a.btn-danger {
    position: relative;
    float: right;
    top: -125px;
    right: 40px;
}

.navbar p {
    margin-top : 10px;
}